<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="admin/fragments/header :: headlink">
		
		
	</head>
	<body>
		<header th:replace="admin/fragments/header :: header"></header>
		
		<div class="d-flex align-items-stretch">
			<br/>
			<div th:replace="admin/fragments/sidebar :: sidebar"></div>
			
			<div class="page-content">
			</div>
			
			
			<div th:replace="admin/fragments/footer :: footer"></div>
			
		</div>
		
		
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"> </script>
	    <script src="foradmin/vendor/bootstrap/js/bootstrap.min.js"></script>
	    <script src="foradmin/vendor/jquery.cookie/jquery.cookie.js"> </script>
	    <script src="foradmin/vendor/chart.js/Chart.min.js"></script>
	    <script src="foradmin/js/charts-home.js"></script>
	    <script src="foradmin/js/front.js"></script>
		
	</body>
</html>